extends ../../layouts/pc

block body
    .container-sm
        .page-intro
            p.lead 您好 #{user.name.first}, 这些是您的设置
                //a(href=user.url) profile details
        .page-content.tile.ph-2.pv-2.mb-2
            +flash-messages(messages)
            form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form-horizontal
                input(type='hidden', name='action', value='profile.details')
                h3 私人信息
                .form-group
                    label.col-sm-2.control-label 用户名
                    .col-sm-10: input(type='text', name='username' value=user.username).form-control
                .form-group
                    label.col-sm-2.control-label 姓名
                    .col-sm-10: .form-row
                        .col-xs-6: input(type='text', name='name.first' value=user.name.first).form-control
                        .col-xs-6: input(type='text', name='name.last' value=user.name.last).form-control
                .form-group
                    label.col-sm-2.control-label 邮箱
                    .col-sm-10: input(type='email', name='email' value=user.email).form-control
                hr.mv-2
                h3 公开信息
                .form-group
                    label.col-sm-2.control-label 个人网址
                    .col-sm-10: input(type='text', name='website' value=user.website).form-control
                //.form-group
                //    label.col-sm-2.control-label 个人签名
                //        br
                //        .text-muted (后缀)
                //    .col-sm-10
                //        textarea(name='bio', rows=5).form-control=user.bio.md
                //
                .form-group
                    label.col-sm-2.control-label 头像
                        br
                        .text-muted (120x120像素,方形,小于100k)
                    .col-sm-10
                        if user.photo.exists
                            .row
                                .col-sm-3: img(src=user._.photo.thumbnail(120,120)).img-responsive
                                .col-sm-9: input(type='file', name='photo_upload')
                        else
                            input(type='file', name='photo_upload')
                hr.mv-2
                button(type='submit', data-loading-text="保存中...").btn.btn-primary 保存信息
        .ui-reveal
            .ui-reveal__initial
                button(type='button').btn.btn-link.ui-reveal__trigger 修改密码
            .ui-reveal__hidden
                form(method='post', autocomplete='off')
                    input(type='hidden', name='action', value='profile.password')
                    h3 修改密码
                    .form-group
                        label(for='change-passwordNew').sr-only 新密码
                        input(type='password', name='password', placeholder='新密码', id='change-passwordNew').form-control
                    .form-group
                        label(for='change-passwordConfirm').sr-only 重复密码
                        input(type='password', name='password_confirm', placeholder='重复密码', id='signin-passwordConfirm').form-control
                    .form-group
                        button(type='submit', data-loading-text="Changing...").btn.btn-primary 修改