extends ../../layouts/base

block bhead
    link(href="http://www.bundpic.com/styles/mobile.min.css", rel="stylesheet")
block bbody
    body
        div.container
            if !post
                h1 文章不存在
            else
                if post['缩略图']
                    img.coverImg(src='http://www.bundpic.com/upload/'+post['缩略图']['filename'])
                p.post-title= post['标题']
                if post['正文'] && post['正文']['简介']
                    div.post-brief!= post['正文']['简介']
                p.post-subtitle
                    span.post-pub!= post['作者']
                if post['来源']
                    p.post-subtitle
                        if post['来源']['图标']
                            img(src='http://www.bundpic.com/upload/'+post['来源']['图标']['filename'])
                        span 来源：
                        if post['来源']['名称']
                            span.post-from!= post['来源']['名称'] + '&nbsp&nbsp'
                        span.post-time= post._['发布时间'].format('YYYY年MM月DD日')
                if post['正文']
                    div.post-content!= post['正文']['更多']
                p.provide
                    span 由外滩画报提供 &nbsp&nbsp
                    span 查看原网页
                div.copyright
                    p 版权声明
                    p 内容由三十几授权于外滩画报，如有任何合作意向和疑问，请直接与外滩画报或内容提供方联系。


        //- div.top_info
        //-     if !post
        //-         h1 文章不存在
        //-     else                
        //-         div.top_info_title
        //-             h4= post['标题']
        //-             p 来源：
        //-                 if post['来源'] && post['来源']['名称']
        //-                 span.top_info_from!= post['来源']['名称']
        //-                 span.top_info_publish_time= post._['发布时间'].format('YYYY年MM月DD日')
        //-             p
        //-                 span!= post['作者']                       
        //-         div.top_info_content
        //-             p!= post['正文']['简介']
        //- div.middle_info
        //-     p.middle_info_content!= post['正文']['更多']
        //- div.detail_comment
        //-     form(method='post').comment-form.mt-5
        //-         h4.mb-1=post['赞数'] == 0 ? '还没有人赞这篇文章' : '有' + post['赞数'] + '个人赞了这篇文章'
        //-             if user
        //-                 if thumbup
        //-                     input(type='hidden', name='action', value='thumb-up', id='thumb')
        //-                     button(type='submit').btn.btn-success#thumbbtn 点赞
        //-                 else
        //-                     input(type='hidden', name='action', value='thumb-down', id='thumb')
        //-                     button(type='submit').btn.btn-info#thumbbtn 取消赞
        //-             //if user in post['赞']
        //-     if !user
        //-         h4.mb-1
        //-             a(href='/signin', data-from=page.path, data-initial='signin').js-auth-trigger 登录
        //-             span= post['评论'].length == 0 ? '后，第一个发表评论' : '后，发表评论，已有'+post['评论'].length+'条'
        //-     else
        //-         h4.mb-1=post['评论'].length == 0 ? '第一个发表评论' : '已有'+post['评论'].length + '条评论'
            
        //-     div.com_con
        //-         ul
        //-             for comment in post['评论']
        //-                 if comment['作者']
        //-                     li
        //-                         .com_con_left                                    
        //-                             img(src=comment['作者'].photo.exists ? comment['作者']._.photo.thumbnail(36,36) : '/images/avatar.png', alt=comment['作者'].name.full, width=31, height=31).media-object.img-circle
        //-                         .com_con_right!= comment['内容'].html
        //-                             span.com_con_time= comment._['时间'].format('MM-DD HH:mm')
        //-     if user
        //-         //- Reply form
        //-         form(method='post').comment-form.mt-5
        //-             input(type='hidden', name='action', value='create-comment')
        //-             .media
        //-                 .pull-left
        //-                     //img(src="/images/avatar.png", width=36).media-object.img-circle
        //-                     img(src=user.photo.exists ? user._.photo.thumbnail(36,36) : '/images/avatar.png', alt=user.name.full, width=36, height=36).img-responsive.img-circle
        //-                 .media-body
        //-                     textarea(placeholder='写下您的评论...', name='内容').form-control
        //-                     .mv-1
        //-                         button(type='submit').btn.btn-success 提交
