extends ../../layouts/base

block bhead
    style.
        .container {
            margin-right: auto;
            margin-left: auto;
            padding-left:  15px;
            padding-right: 15px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            max-width: 800px;
        }
        .post-title {
            font-size: 24px;
            margin: 0 0 28px;
        }
        .post-subtitle {
            font-size: 16px;
            color: #424242;
            margin: 0 0 27px;
        }
        .post-time {
            font-size: 12px;
            color: #9b9b9b;
            margin: 0 0 27px;
        }
        .post-content {
            font-size: 16px;
            color: #424242;
            font-style: normal;
            font-weight: normal;
        }
        .post-content p {
            line-height: 32px;
        }
        .post-content img {
            max-width: 100%;
            height: auto!important;
            display: block;
            position: static!important;
        }
        #list_image_div {
            height: auto!important;
        }
block bbody
    div.container
        if !post
            h1 文章不存在
        else
            p.post-title= post['标题']
            - var author_label = post['作者'].split('标签');
            p.post-subtitle!= author_label[0]
            if author_label.length>1
                p.post-subtitle!= '标签' + author_label[1].replace(/href=\"/g, 'href=\"/')
            p.post-time= post._['发布时间'].format('YYYY年MM月DD日')
            p &nbsp
            div.post-content!= post['正文']['更多']
